{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <div class="site-description d-flex justify-content-center flex-column mt-5">
        <h1>Bienvenue sur Ecom App</h1>

        <p>Un site e-commerce entièrement développé avec Symfony permettant de simuler des passages de commandes en ligne.</p>
    </div>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

{% endblock %}