{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bienvenue sur Ecom App</h1>

    <p>Un site e-commerce entièrement développé avec Symfony permettant de simuler des passages de commandes en ligne.</p>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

{% endblock %}