body {
    background-color: #e2e2e2;
}

.product-image-container {
    width: 100%;
    height: 0;
    padding-top: 75%;
    position: relative;
}

/*.product-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}*/

.product-image {
    height: 200px;
    object-fit: contain;
}
