{% extends 'base.html.twig' %}

{% block title %}Adresses{% endblock %}

{% block body %}
    <h1>Liste d'adresses</h1>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}